.wrapper {
    width: 100%;
    height: 100%;
}

.selector {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25em;
}

.listbox {
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: 2%;
    border: solid 1px rgba(10, 10, 10, 0.15);
    border-radius: 0.25em;
    z-index: 3;
}

.listbox:hover {
    display: flex;
}

.selector:focus ~ .listbox {
    display: flex;
}

.selector:hover {
    cursor: pointer;
}

.titleWrapper {
    position: relative;
    left: 35%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    text-align: center;
}

.item:hover {
    cursor: pointer;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90%;
    aspect-ratio: 1 / 1;
    top: 0%;
    left: 0%;
    text-align: center;
    transition: transform 0.15s linear, color 0.05s ease-in;
}

.wrapper:hover .icon {
    transform: rotateZ(180deg);
}

.selector:hover > .icon {
    transform: none;
}

.wrapper:focus-within .icon {
    transform: rotateZ(180deg);
}