.bubble {
    opacity: 0;
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    transform: rotate(0deg);
}

.bubble div {
    position: relative;
    top: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: opacity linear 1s;
}

.bubble:nth-child(odd) {
    animation-name: spin1;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.bubble:nth-child(odd) div {
    left: 97.5%;
}

.bubble:nth-child(even) {
    animation-name: spin2;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    z-index: 0;
}

.bubble:nth-child(even) div {
    left: -2.5%;
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    49.99% {
        transform: rotate(360deg);
        opacity: 1;
    }

    50% {
        transform: rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    49.99% {
        transform: rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg);
        opacity: 1;
    }
}