.mainContainer {
    position: absolute;
    top: 0;
    left: -65px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: calc(100% - 2px); /* Border adds 1px both on top and bottom (so subtract 2px total) */
    opacity: 0;
    transition: opacity 0.15s ease, left 0.25s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.toggle {
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle:hover {
    cursor: pointer;
}

.open {
    opacity: 1;
    left: 0;
}

.linkContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.iconContainer {
    width: 40%;
    aspect-ratio: 1 / 1;
}

.iconContainer:hover::after {
    position: absolute;
    margin-left: 10px;
    font-size: 0.75rem;
    background-color: darkslategrey;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    padding: 2px;
}

.iconContainer:nth-child(1):hover::after {  /* Keep in sync with component*/
    content: 'Metrics';
}

.iconContainer:nth-child(2):hover::after {
    content: 'Teams';
}

.iconContainer:nth-child(3):hover::after {
    content: 'Launch Project';
}

.iconContainer:nth-child(4):hover::after {
    content: 'Settings';
}

.iconContainer img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: none;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
}

.iconContainer img:hover {
    cursor: pointer;
    filter: drop-shadow(2px 3px 7px #000000);
    top: -3px;
    left: -2px;
}