.gridItemWrapper {
    grid-area: edit;
    padding: 1em;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.containerHeaderWrapper {
    padding-right: 5%;
    padding-left: 5%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.containerHeader {
    color: var(--lime-Green-100-100);
    text-align: end;
    line-height: 0.5em;
    font-size: 1.5rem;
}

.contentWrapper {
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contentTypeWrapper {
    border: solid 1px rgba(10, 10, 10, 0.15);
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 55px 5px rgba(0, 0, 0, 0.33);
    overflow: hidden;
    width: 90%;
}

.contentNameWrapper {
    height: 20%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contentDescriptionWrapper {
    height: 60%;
    border-radius: 1rem;
}

.CreateNameLabel {
    width: 23%;
    text-align: center;
}

.CreateNameInput {
    width: 72%;
}

.CreateDescriptionInput {
    width: 95%;
    height: 92.5%;
    position: relative;
    top: 3.75%;
    left: 2.5%;
    color: var(--base-White-100-100);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    resize: none;
}

.buttonsWrapper {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-left: 6%;
    padding-right: 6%;
}

.error {
    width: auto;
    color: var(--stash-Red-100-100);
}

.submit {
    width: 15%;
    height: 60%;
    font-family: 'JetBrains Mono', sans-serif;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0);
    color: var(--base-Green-100-100);
    border: solid 1px var(--base-Green-100-100);
    cursor: default;
    transition: border 0.3s ease-out, background 0.3s ease-out, color 0.3s ease-out;
}

.submitReady {
    border: none;
    background-color: var(--lime-Green-100-100);
    color: var(--base-Black-100-100);
}

.submitReady:hover {
    cursor: pointer !important;
}

@media (max-width: 1100px) {
    .contentWrapper {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contentTypeWrapper {
        width: 90%;
    }

    .contentNameWrapper {
        height: 15%;
    }

    .contentDescriptionWrapper {
        height: 75%;
    }

    .containerHeader {
        text-align: start;
    }
}